.backHome {
    align-self: start;
    padding: 1rem 2rem;
    margin: 5rem;
    position: fixed;
    font-size: 1.6rem;
    color: white;
    background-color: #007bff;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}
  
.backHome:hover {
    background-color: #0056b3;
}