.aboutSection {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-top: 10.5rem;
}

.aboutSection .aboutContent {
    width: 90rem;
    padding-top: 12rem;
}

.aboutSection .aboutTitle {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    text-align: center;
}

.aboutSection .aboutTitle span {
    color: #007bff;
}

.aboutSection .aboutText {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.aboutSection .aboutContent .valuesContainer {
    padding: 0 3rem;
}

.aboutSection .aboutContent .valuesContainer h3 {
    font-size: 1.7rem;
    margin-top: 1rem;
    color: #2692FF;
}

.aboutSection .aboutContent .valuesContainer p {
    font-size: 1.5rem;
}

.aboutSection .aboutContent .valuesContainer ul {
    list-style: inside;
}

.aboutSection .aboutContent .valuesContainer ul li {
    font-size: 1.5rem;
}

.aboutSection .aboutContent .valuesContainer ul li span {
    font-weight: 600;
    color: #2692FF;
}

.teamSection {
    padding: 7rem 3rem;
    margin-top: 7rem;
}

.teamSection .title {
    font-size: 3rem;
    color: white;
    padding-left: 5rem;
}

.borderEffect {
    width: 5rem;
    height: 0.5rem;
    background-color: #2692FF;
    margin-bottom: 1rem;
}

.teamContainer {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 3rem;
}

@media(max-width: 970px){
    .aboutSection .aboutContent {
        width: 90%;
    }

    .teamSection .title {
        font-size: 2.4rem;
        text-align: center;
        padding-left: 0;
    }

    .borderEffect {
        display: none;
    }
}

@media(max-width: 768px){
    .aboutSection {
        padding-top: 8rem;
    }
}