.main{
    height: 100vh;
    background-image: url(/src/assets/images/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.mainContent{
    height: 100%;
    width: 80%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainContent h2{
    font-size: 4.4rem;
    font-weight: 400;
    color: white;
}

.mainContent h2 span{
    font-size: 4.4rem;
    color: #2692FF;
}

.mainContent p{
    color: white;
    font-size: 1.8rem;
    width: 80rem;
    margin-top: 2rem;
}

.mainContent p span{
    color: #2692FF;
}

.mainContent .btnLink{
    width: 17.7rem;
    border-radius: 2rem;
    text-align: center;
    padding: 1rem; 
    font-size: 1.6rem;
    color: white;
    margin-top: 1.8rem;
    background-color: #2693FF;
    text-decoration: none;
}

.mainContent .btnLink:hover{
    background-color: #1a6ab8;
}

@media(max-width: 970px){
    .mainContent{
        width: 90%;
    }
    
    .mainContent h2{
        font-size: 3.5rem;
    }
    
    .mainContent h2 span{
        font-size: 3.5rem;
    }
    
    .mainContent p{
        font-size: 1.6rem;
        width: 100%;
    }
    
    
    .mainContent .btnLink{
        width: 14rem;
        font-size: 1.5rem;
    }
}

@media(max-width: 375px){
    .main{
        height: 100%;
        padding-top: 13rem;
    }
}