html{
    font-size: 62.5%;
}
  
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}
  
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Open Sans";
}

#root{
    background: linear-gradient(90deg, #111111,#1e1e1e,#323232);                                           
}